body {
  font-family: sans-serif;
  background-color: #222;
  color: #ddd;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex: 50;
  max-width: 1500px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.animal {
  width: 310px;
  padding: 20px;
  margin: 10px;
  background-color: #333;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.animal h4 {
  margin: 0 0 6px 0;
}

.pet-photo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pet-photo2 {
  width: 25%;

}

.pet-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.footer {
  font-size: 0.7rem;
  color: #888;
  text-align: center;
  margin: 0;
}

.titlecolor {
	color: #FFBF3B;
}

.titlecolor2 {
	color: #FF6F50;
}